# MTK project .rc configure 
import init.ac8227lusb.rc
on init
    setprop persist.sys.usb.config adb
    export VALGRIND_LIB /system/lib/valgrind
on post-fs-data

#
# Connectivity related device nodes & configuration (begin)
#

#/dev/ttyMT1 
    chmod 0666 /dev/ttyMT1
    chown system system /dev/ttyMT1
#/dev/ttyMT2 
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

#/dev/ttyMT3 for mcu
    chmod 0666 /dev/ttyMT3
    chown system system /dev/ttyMT3


#/dev/pve_params tp
    chmod 0666 /dev/pve_params
    chown system system /dev/pve_params
#/dev/mygpio
    chmod 0666 /dev/mygpio
    chown system system /dev/mygpio
#xyautocpnavi
    chmod 0777 /system/bin/xyautocpnavi
#EasyConnect   
    chmod 6755 /system/bin/adb-ec
    chmod 6755 /system/bin/adb-ec-server.sh
    chmod 6777 /system/bin/start_usbmuxd.sh
    chmod 6777 /system/bin/usbmuxd
##miaojia
    chmod 6755 /system/bin/bdcl
    chmod 0755 /system/bin/didisys
    chmod 0755 /system/bin/didiutils
    chmod 0755 /system/bin/didisrv
    chmod 0664 /system/bin/didiutils.conf
    chmod 0755 /system/bin/busybox  
##welink
    chmod 0777 /system/bin/idb
    chmod 0777 /system/bin/iosHelper
    chmod 0777 /system/bin/wlCmd
    chmod 0777 /system/bin/adb-wl
    chown root root /system/bin/iosHelper
    chown root root /system/bin/adb-wl    
       
# STP, WMT, GPS, FM and BT Driver
#   insmod /system/lib/modules/mtk_hif_sdio.ko
#   insmod /system/lib/modules/mtk_stp_wmt.ko
#   insmod /system/lib/modules/mtk_stp_uart.ko
#   insmod /system/lib/modules/mtk_stp_gps.ko
#   insmod /system/lib/modules/mtk_stp_bt.ko
#   insmod /system/lib/modules/mtk_fm_drv.ko
#   insmod /system/lib/modules/mtk_wmt_wifi.ko

    insmod /system/lib/modules/mtk_wmt_detect.ko

# Create char device file for WMT, GPS, BT, FM, WIFI
#    mknod /dev/stpwmt c 190 0;
#    mknod /dev/stpgps c 191 0;
#    mknod /dev/stpbt  c 192 0;

#    chmod 0660 /dev/stpwmt
#    chown system system /dev/stpwmt
#    
#    chmod 0660 /dev/wmtdetect
#    chown system system /dev/wmtdetect
 
    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

#USB switch mode
    chown system system /sys/devices/platform/mt_usb/musb-hdrc.0.auto/mode
    chmod 0660 /sys/devices/platform/mt_usb/musb-hdrc.0.auto/mode
    chown system system /sys/devices/platform/mt_usb/musb-hdrc.0.auto/protocol
    chmod 0660 /sys/devices/platform/mt_usb/musb-hdrc.0.auto/protocol

    chown system system /sys/devices/platform/mt_usb/musb-hdrc.0.auto/dvr
    chmod 0660 /sys/devices/platform/mt_usb/musb-hdrc.0.auto/dvr
    chown system system /sys/devices/platform/mt_usb1/musbh-hdrc.2.auto/dvr
    chmod 0660 /sys/devices/platform/mt_usb1/musbh-hdrc.2.auto/dvr

    chown system system /sys/kernel/debug/musb/testmode
    chmod 0660 /sys/kernel/debug/musb/testmode
    chown system system /sys/kernel/debug/h_musb/h_testmode
    chmod 0660 /sys/kernel/debug/h_musb/h_testmode

    chown system system /sys/atc2ctl/mode
    chmod 0660 /sys/atc2ctl/mode

# usb mass-storage poll status
    write /sys/module/block/parameters/events_dfl_poll_msecs 1000

# BT
#    chmod 0660 /dev/stpbt
#    chown bluetooth radio /dev/stpbt

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

# GPS
#    chown gps gps /dev/stpgps
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status
    chmod 0660 /dev/stpgps

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi 
    chown wifi wifi /data/misc/wifi

# FM Radio device node
    chmod 0660 /dev/fm
    chown media media /dev/fm

#Disable for one Single loader
# Load WiFi Driver
#   insmod /system/lib/modules/wlan.ko

# Char device for BT 3.0 HS
    mknod /dev/ampc0 c 151 0
    chown bluetooth bluetooth /dev/ampc0
    chmod 0660 /dev/ampc0

#
# Connectivity related device nodes & configuration (end)

on boot
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through 
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target has the SD card slot in a battery compartment, we need to specify SECONDARY_STORAGE (*** UN-Comment the following command ***)
    # 
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled
    
#
# Connectivity related services (Begin)
#

service wmtLoader /system/bin/wmt_loader
    user root
    group root
    class main
    oneshot


service conn_launcher /system/bin/6620_launcher -p /system/etc/firmware/
    user system
    group system
    class core

#on property:service.wcn.coredump.mode=2
#start stp_dump
#
#service stp_dump /system/bin/stp_dump3
#    user root
#    group root
#    class core
#    disabled
#    oneshot

#
# Connectivity related services (End)
#

## easy
service adbec /system/bin/adb-ec-server.sh
    class core
    disabled
    oneshot
    seclabel u:r:adbec:s0
    
on property:service.adbec.enable=1
    start adbec

on property:sys.boot_completed=1
    mkdir /data/.android 0777 system system
    export HOME /data
    setprop service.adbec.enable 1
    
service adbusbmuxd /system/bin/start_usbmuxd.sh
    class core
    disabled
    oneshot

on property:init.svc.bootanim=stopped
start atc_ipod_core

service atc_ipod_core /system/bin/atc_ipod_core
    disabled
    user system
    group system

service chg_mcu_val /system/bin/chg_mcu_val
    disabled
    oneshot

on property:sys.boot_completed=1
start chg_mcu_val

service arm2_log_save /system/bin/save_arm2_log
    user root
    group root
    disabled
    oneshot

on property:persist.arm2_log_save=1
start arm2_log_save

service timainit /system/bin/timacarnet_init.sh
    disabled
    oneshot

on property:sys.boot_completed=1
    start timainit

#miaojia	
service didisrv /system/bin/didisrv
		class main
		user root
#miaojia	
#service xydidisrv /system/bin/xydidisrv_init.sh
#    disabled
#    oneshot
    

#on property:sys.boot_completed=1
#start xydidisrv

#welink
service welink /system/bin/sh /system/bin/welink_init.sh
  disabled
  oneshot
  
on property:sys.boot_completed=1
  start welink
  
  
 #carlife
service xycarlife /system/bin/sh /system/bin/start-bdcl.sh
  user root
  group root
  disabled
  oneshot
  
on property:service.carlife.enable=1
	start xycarlife
	
on property:service.carlife.enable=0
	stop xycarlife
	
on property:sys.boot_completed=1
	setprop service.carlife.enable 1   